.imgItem {
    height: 9vw;
    display: block;
    margin: 0 auto;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* Gradiente oscuro sobre la imagen */
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), var(--img-url);
    cursor: pointer;
}
.imgItemCenter {
    height: 9vw;
    display: block;
    margin: 0 auto;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* Gradiente oscuro sobre la imagen */
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), var(--img-url);
    transition: opacity 0.8s ease;
  opacity: 1;
}
.imgItem:hover {
    filter: brightness(1.1);
    transition: 0.3s;
    transform: scale(1.05);
    
}
.imgItemCenter.fade {
  opacity: 0;
}