#chk{
	display: none;
}

.register{
	transform: translateY(-180px);
}
.register label{
	transform: scale(.6);
}

#chk:checked ~ .register{
	transform: translateY(-500px);
}
#chk:checked ~ .register label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
